@font-face {
  font-family: Graphik LC;
  src: url(../GraphikLC.ttf);
}
body {
  font-family: Graphik LC;
}
.block_top {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 50;
  background: #121212;
  right: 10px;
  bottom: 10px;
  width: 58px;
  height: 58px;
  transition: 0.2s;
}
.block_top-active {
  opacity: 1;
  visibility: visible;
}
.ArrowUp {
  display: block;
}
.header {
  position: relative;
}
.block_logo {
  display: inline-flex;
  align-items: flex-end;
  padding-bottom: 17px;
}
.block_logo img {
  display: block;
}
.logoText {
  margin-left: 5px;
  filter: brightness(100%);
  transition: 0.2s;
}
.logoText-black {
  filter: brightness(0%);
  transition: 0.2s;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
}
#progressBar {
  height: 5px;
  width: 100%;
  background: black;
  position: absolute;
  bottom: 0;
  z-index: 5;
}
.main_slider {
  position: relative;
}
.main_slider .owl-dots {
  display: none;
}
.headerSlider_slide {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  outline: none;
}
.videoBlock {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100vh;
}
video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100vh;
}
.videoText {
  font-size: 28px;
  color: green;
}
header {
  position: fixed;
  width: 100%;
  z-index: 30;
  transition: 0.2s;
}
header .container-fluid {
  padding: 0px 40px;
}
.header-background-down {
  top: -550px;
  position: fixed;
  transition: 0.2s;
}
.header-background {
  background-color: white;
  transition: 0.4s;
}
.header-background-up {
  top: 0px;
  position: fixed;
  transition: 0.2s;
}
.opacity_fon {
  position: fixed;
  left: 0;
  pointer-events: none;
  
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 0.3s;
}
.podmenu {
  position: absolute;
  width: 100%;
  left: -100%;
  opacity: 0;
  
  padding: 40px 0px;
  border-top: 1px solid #E0E1E3;
  background-color: white;
  transition: 0.3s;
}
.podmenu_items_item {
  margin: 0px 20px;
}
.podmenu_items_item_a {
  display: block;
  font-size: 20px;
  padding: 5px 0px;
  font-weight: 500;
  color: #121212;
  text-decoration: none;
  transition: 0.2s;
}
.podmenu_items_item_katalog_a {
  display: block;
  font-size: 16px;
  padding: 5px 0px;
  font-weight: 500;
  color: #121212;
  text-decoration: none;
  transition: 0.2s;
}
.podmenu_fotoKatalog {
  position: relative;
}
.podmenu_fotoKatalog_text {
  position: absolute;
  top: 43px;
  left: 34px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 500;
  color: white;
}
.item_bold {
  display: block;
  margin-bottom: 13px;
}
.menu_item:hover .podmenu {
  left: 0;
  opacity: 1;
}
.menu_item:hover .opacity_fon {
  opacity: 0.5;
  visibility: visible;
}
.headerContent {
  padding: 40px;
  font-size: 28px;
  color: white;
}
.headerContent h1 {
  font-size: 110px;
  font-weight: 500;
  line-height: 0.9;
}
.headerContent_btn {
  background-color: white;
  font-size: 18px;
  color: #121212;
  padding: 20px 69px;
  text-decoration: none;
}
.headerContent_text {
  margin-bottom: 40px;
  width: 720px;
}
.headerSlider_slide .container-fluid {
  height: 100%;
}
.menu_item {
  margin: 0px 20px;
}
.menu_item_a::after {
  position: absolute;
  bottom: 0;
  content: '';
	width: 0;
	display: block;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
	transition: 0.3s;
}
.menu_item:hover .menu_item_a::after {
  width: 100%;
}
.menu_item:hover .menu_item_a {
  color: #6D6D6D !important;
}
.user_item {
  margin-left: 30px;
}
.menu_item_search {
  margin-right: 20px;
  margin-left: auto;
}
.menu_item_a {
  display: block;
  position: relative;
  padding: 44px 0px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
.menu_item_a-black {
  color: #121212;
  transition: 0.2s;
}
.rotate:hover .stroke_svg{
  transform: rotate(180deg);
  filter: brightness(50%) !important;
}
.stroke_svg {
  filter: brightness(100%);
  transition: 0.2s;
}
.menu_item_svg-black {
  filter: brightness(30%);
  transition: 0.2s;
}
.user_item_a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.2s;
}
.user_item_a-black {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  text-decoration: none;
  transition: 0.2s;
}
.search_svg {
  filter: brightness(100%);
  transition: 0.2s;
}
.profile_svg {
  cursor: pointer;
  filter: brightness(100%);
  transition: 0.2s;
}
.buy_svg { 
  filter: brightness(100%);
  transition: 0.2s;
}
.user_item_svg-black {
  filter: brightness(30%);
  transition: 0.2s;
}
.login {
  background-color: white;
  box-shadow: 0px 0px 3px lightgray;
  position: absolute;
  visibility: hidden;
  right: 0;
  padding: 25px;
  margin-right: 15px;
  margin-top: 30px;
  opacity: 0;
  transition: 0.2s;
}
.login_text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
}
.login_vhod {
  text-align: center;
  margin-bottom: 15px;
  padding: 20px 110px;
  font-size: 18px;
  color: white;
  background-color: #121212;
}
.login_registr {
  text-align: center;
  padding: 19px 0px;
  font-size: 18px;
  border: 1px solid #121212;
}
.login-active {
  visibility: visible;
  opacity: 1;
}
.profile_svg-active {
  filter: brightness(70%);
}
.headerItems {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  width: 100%;
}
.headerItems_zakaz {
  background-color: #242424;
  padding: 20px;
  transition: all 2s linear;
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 100;
  transition: 0.1s;
  opacity: 1;
  visibility: visible;
}
.headerItems_zakaz-active {
  padding: 25px;
}
.headerItems_zakaz-hidden {
  opacity: 0;
  visibility: hidden;
}
.headerItems_zakaz_foto {
  display: inline-flex;
}
.headerItems_zakaz_svg {
  cursor: pointer;
}
.headerItems_zakaz_svg-active {
  cursor: auto;
}
.headerItems_zakaz_foto_back {
  width: 44px;
  height: 44px;
  background-color: #444444;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
.headerItems_zakaz_foto_back-active {
  display: flex;
}
.headerItems_stroke_svg {
  display: block;
  transform: rotate(-90deg);
}
.headerItems_zakaz_text {
  width: 276px;
  font-size: 16px;
  color: #A1A1A1;
  display: none;
}
.headerItems_zakaz_text-active {
  display: block;
}
.headerItems_zakaz_text_zagolovok {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin: 8px 0px;
}
.zakaz_bg_text {
  background-color: #444444;
}
.headerItems_zakaz_btn {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  margin-top: 14px;
  padding: 20px 68px;
  display: none;
}
.headerItems_zakaz_btn-active {
  display: block;
}
.headerItems_zakaz_btn a {
  text-decoration: none;
}
.headerItems_items {
  padding: 10px 20px;
  height: 100%;
  border-right: 1px solid gray;
}
.headerItems a {
  color: #B8B8B8;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}
.headerItems a:hover {
  color: white;
}
.headerItems_progressBar {
  height: 5px;
  background-color: black;
}
.bar {
  width: 0%;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
}

.mainContent_rusgeoteh {
  margin: 40px;
  background: linear-gradient(180deg, #F3F5F9 0%, rgba(255, 255, 255, 0.5) 100%);
  position: relative;
}
.mainContent_rusgeoteh_item {
  position: relative;
  z-index: 1;
  height: 209px;
  border: 1px solid #E4E4E4;
  background: none;
}
.mainContent_rusgeoteh_item::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
@keyframes rainbow { 
  0%{background-position:0% 100%}
  50%{background-position:100% 0%}
  100%{background-position:0% 100%}
}
.mainContent_rusgeoteh_item:hover::before {
  opacity: 1;
}
.mainContent_text {
  z-index: 0;
  position: absolute;
  top: 0;
  padding: 30px;
}
.mainContent_text_item {
  max-width: 1400px;
}
.mainContent_text_item h2 {
  color: #121212;
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 60px;
}
.mainContent_text_item h6 {
  font-size: 18px;
  color: #737578;
  font-weight: 400;
  margin-bottom: 13px;
  line-height: 1.5;
}
.mainContent_text_item a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #737578;
}
.contentProduction {
  background-color: #F3F5F9;
}
.contentProduction_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  z-index: 1;
}
.contentProduction_start {
  padding: 60px 40px 30px 40px;
}
.owl-nav img {
  display: block;
}
.contentProduction_nav button {
  background: none;
  border: none; 
  outline: none;
}
.contentProduction_zagolovok {
  font-size: 70px;
  font-weight: 500;
}
.contentProduction_allProduction {
  padding: 30px 40px 60px 40px;
  font-size: 16px;
  font-weight: 500;
}
.contentProduction_allProduction_text {
  text-decoration: none;
  color: #737578;
  transition: 0.2s;
}
.contentProduction_allProduction_text:hover {
  color: #121212;
}
.contentProduction_allProduction_text::after {
  content: '';
  width: 0;
  display: block;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
	transition: 0.3s;
}
.contentProduction_allProduction_text:hover::after {
  width: 100%;
}
.arrowAllProduction {
  width: 30px;
  position: absolute;
  padding-left: 10px;
  padding-top: 2px;
}
.production_slider {
  padding: 0px 40px;
}
.production_slider .owl-dots {
  display: none;
}

.production_slider .owl-stage {
  display: flex;
}
.production_slider .owl-item {
  display: flex;
  flex: 0 0 auto;
}
.production_slider_slide {
  background-color: white;
  padding: 30px;
  width: 100%;
  transition: 0.2s;
}
.production_slider_slide:hover {
  box-shadow: 0px 0px 5px lightgray;
}
.production_slider_slide::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: 0;
	display: block;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
	transition: 0.3s;
}
.production_slider_slide:hover::after {
  width: 100%;
}
.production_text_zagolovok {
  margin-bottom: 10px;
}
.production_foto {
  margin-bottom: 30px;
}
.production_zagolovok {
  color: #121212;
  font-size: 32px;
  width: 100%;
  padding-right: 40px;
  font-weight: 500;
  line-height: 38px;
}
.production_arrow {
  width: 40px;
  padding: 5px;
}
.arrow_svg {
  display: block;
}
.production_text_description {
  font-size: 18px;
  color: #737578;
}
.contentNews {
  background-color: white;
  padding: 40px;
}
.contentNews_block {
  background-color: #F3F5F9;
  padding: 0px 30px 30px 30px;
}
.contentNews_start {
  padding: 60px 30px 30px 0px;
}
.contentNews_zagolovok {
  font-size: 70px;
  font-weight: 500;
}
.fotoNews img {
  width: 100%;
  height: auto;
}
.contentNews_data {
  font-size: 14px;
  color: #444444;
}
.contentNews_arrow img {
  width: 30px;
}
.contentNews_podzagolovok {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  margin: 12px 0px 34px 0px;
  padding-right: 50px;
}
.contentNews_new {
  position: relative;
  padding: 30px 20px;
  transition: 0.2s;
}
.contentNews_line {
  margin: 0px 20px;
  height: 1px;
  background-color: #E0E1E3;
}
.contentNews_new:hover {
  background-color: white;
  box-shadow: 0px 0px 5px lightgray;
}
.contentNews_new_data {
  font-size: 12px;
  color: #444444;
}
.contentNews_new_arrow img {
  width: 30px;
}
.contentNews_new_podzagolovok {
  font-size: 24px;
  line-height: 32px;
  padding-right: 70px;
}
.contentNews_new::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: 0;
	display: block;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
	transition: 0.3s;
}
.contentNews_new:hover::after {
  width: 100%;
}
.contentNews_allNews {
  padding: 30px 20px;
  font-size: 16px;
}
.contentNews_allNews_text {
  text-decoration: none;
  color: #737578;
  transition: 0.2s;
}
.contentNews_allNews_text:hover {
  color: #121212;
}
.contentNews_allNews_text::after {
  content: '';
  width: 0;
  display: block;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
	transition: 0.3s;
}
.contentNews_allNews_text:hover::after {
  width: 100%;
}
.arrowAllNews {
  width: 30px;
  position: absolute;
  padding-left: 10px;
  padding-top: 2px;
}
.contentArticles {
  background-color: #F3F5F9;
  padding: 40px;
}
.contentArticles_block {
  margin: 0px -20px;
}
.contentArticles_start {
  padding: 20px 20px 10px 20px;
}
.contentArticles_zagolovok {
  font-size: 70px;
  font-weight: 500;
}
.contentArticles_article {
  position: relative;
  padding: 20px;
  width: 100%;
  transition: 0.2s;
}
.contentArticles_article:hover {
  background-color: white;
  box-shadow: 0px 0px 5px lightgray;
}
.contentArticles_article::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: 0;
	display: block;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
	transition: 0.3s;
}
.contentArticles_article:hover::after {
  width: 100%;
}
.contentArticles_article_foto img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.article_start {
  margin-top: 12px;
}
.article_start_zagolovok {
  font-size: 24px;
  font-weight: 500;
  padding-right: 50px;
}
.article_start_arrow img {
  width: 30px;
}
.article_data {
  font-size: 14px;
  color: #444444;
  margin-top: 12px;
}
.contentArticles_line {
  height: 1px;
  background-color: #E0E1E3;
}
.contentArticles_allArticles {
  padding: 30px 0px 20px 0px;
  font-size: 16px;
}
.contentArticles_allArticles_text {
  text-decoration: none;
  color: #737578;
  transition: 0.2s;
}
.contentArticles_allArticles_text:hover {
  color: #121212;
}
.contentArticles_allArticles_text::after {
  content: '';
  width: 0;
  display: block;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
	transition: 0.3s;
}
.contentArticles_allArticles_text:hover::after {
  width: 100%;
}
.arrowAllArticles {
  width: 30px;
  position: absolute;
  padding-left: 10px;
  padding-top: 2px;
}
.contentClientsReviews {
  padding: 0px 40px 40px 40px;
}
.contentClientsReviews_start {
  padding: 60px 0px 30px 0px;
}
.contentClientsReviews_zagolovok {
  font-size: 70px;
  font-weight: 500;
}
.contentClients_logos {
  border-top: 1px solid #E0E1E3;
  border-left: 1px solid #E0E1E3;
}
.contentClients_logos_logo {
  border-right: 1px solid #E0E1E3;
  border-bottom: 1px solid #E0E1E3;
  width: calc(100% / 4);
  display: flex;
  justify-content: center;
}
.contentClients_logos_logo img {
  width: 100%;
  height: auto;
}
.contentClientsReviews_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  z-index: 10;
}
.contentClientsReviews_nav button {
  background: none;
  border: none; 
  outline: none;
}
.contentReviews_slider .owl-dots {
  display: none;
}
.contentReviews_slider_slide {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background-color: #F3F5F9;
}
.contentReviews_slide_content {
  padding: 16px;
  width: 55%;
}
.contentReviews_slide_content_logo {
  display: inline-flex;
}
.contentReviews_slide_content_logo img {
  width: 100%;
  height: auto;
}
.contentReviews_btn {
  display: inline-flex;
  text-decoration: none;
  color: #121212;
  font-weight: 500;
  font-size: 16px;
  padding: 13px 30px;
  border: 1px solid #121212;
}
.contentReviews_slide_content_text {
  margin: 20px 0px;
  padding-right: 12px;
  /* max-height: 155px; */
  font-size: 16px;
  color: #444444;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}
.contentReviews_slide_content_text_data {
  font-size: 14px;
  color: #444444;
}
.contentReviews_slide_content_text_zagolovok {
  font-weight: 500;
  margin: 5px 0px;
  font-size: 18px;
  line-height: 24px;
  color: #121212;
}
.contentReviews_slide_doc {
  width: 45%;
}
.contentReviews_slide_doc img {
  width: 100%;
  height: auto;
}
.contentReviews_allReviews {
  padding: 30px 0px 40px 0px;
  font-size: 16px;
}
.contentReviews_allReviews_text {
  text-decoration: none;
  color: #737578;
  transition: 0.2s;
}
.contentReviews_allReviews_text:hover {
  color: #121212;
}
.contentReviews_allReviews_text::after {
  content: '';
  width: 0;
  display: block;
  height: 5px;
  background: linear-gradient(115deg, #2400ff 0%, #5700d1 20%, #8400c6 40%, #a600e2 60%, #ffa30b 75%, #e81d1d 85%);
  background-size: 2000% 2000%;
  animation: rainbow 18s ease infinite;
	transition: 0.3s;
}
.contentReviews_allReviews_text:hover::after {
  width: 100%;
}
.arrowAllReviews {
  width: 30px;
  position: absolute;
  padding-left: 10px;
  padding-top: 2px;
}
footer {
  padding: 40px 0px 30px 40px;
  background-color:#121212;
}
.colOne {
  width: 50%;
  padding-right: 40px;
}
.colTwo {
  width: calc(100% / 3);
  padding-right: 40px;
}
.footer_phone {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.footer_email {
  font-size: 16px;
  color: #A8A8A8;
  margin-bottom: 20px;
}
.footer_contactText {
  font-size: 16px;
  color: #6B6B6B;
  margin-bottom: 20px;
}
.footer_SkLogo {
  border: 1px solid #4D4D4D;
  display: inline-flex;
  padding: 9px;
}
.KonfigLogo {
  
  margin-right: 20px;
  display: inline-flex;
}
footer a {
  text-decoration: none;
  display: block;
}
.footerZagolovok_konfig {
  font-size: 20px;
  color: white;
  margin-top: 30px;
  transition: 0.2s;
}
.footerZagolovok_konfig:hover {
  color: #BDBCBC;
}
.footerZagolovok {
  font-size: 20px;
  color: white;
  margin-bottom: 18px;
  transition: 0.2s;
}
.footerZagolovok:hover {
  color: #BDBCBC;
}
.footerPodzagolovok {
  font-size: 16px;
  color: #A8A8A8;
  margin-bottom: 10px;
  transition: 0.2s;
}
.footerPodzagolovok:hover {
  color: white;
}
.footer_line {
  height: 1px;
  margin-right: 40px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.2);
}
.footer_OOO {
  font-size: 12px;
  color: #6B6B6B;
  margin-top: 20px;
}
.footer_konf {
  font-size: 12px;
  color: #A8A8A8;
  margin-top: 20px;
}
.MediaSetLogo {
  margin-top: 20px;
  margin-right: 40px;
}
.footer_description {
  font-size: 12px;
  color: #6B6B6B;
  margin-top: 15px;
}




@media (max-width: 1770px) {
  .logoIcon {
    width: 43px;
  }
  .logoText {
    width: 145px;
  }
  .menu {
    margin-left: -5px;
  }
  .menu_item_a {
    font-size: 16px;
  }
  .menu_item {
    margin: 0px 15px;
  }
  .menu_item_search {
    margin-right: 15px;
  }
  .podmenu_items_item_a {
    font-size: 18px;
  }
  .user_item_a {
    font-size: 16px;
  }
  .user_item {
    margin-left: 28px;
  }

  .headerContent {
    padding: 40px;
    font-size: 20px;
    color: white;
  }
  .headerContent h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 0.9;
  }
  .headerContent_text {
    margin-bottom: 40px;
    width: 550px;
  }
  .headerItems_zakaz {
    bottom: 80px;
  }
  .contentProduction_zagolovok {
    font-size: 60px;
  }
  .contentNews_zagolovok {
    font-size: 60px;
  }
  .contentNews_podzagolovok {
    font-size: 36px;
    margin: 12px 0px 15px 0px;
  }
  .contentNews_new_podzagolovok {
    font-size: 20px;
  }
  .contentNews_new {
    padding: 20px;
  }
  .contentArticles_zagolovok {
    font-size: 60px;
  }
  .article_start_zagolovok {
    font-size: 20px;
  }
  .contentClientsReviews_zagolovok {
    font-size: 60px;
  }
}
@media (max-width: 1540px) {
  .menu_item_search {
    margin-left: 20px !important;
  }
}
@media (max-width: 1430px) {
  
}